body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,h2 {
  padding-top: 50px;
  padding-bottom: 20px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  margin: 1px;
  color: #20110c;
}
.Welcome {
      margin-left: 400px;
      margin-top: 125px;
      width: 500pt;
      height: 170pt;
      border: 5px outset #20110c;
      padding: 10px;
      background-color: #dcbb88;
  
}
.Menu {
  display: inline-block;
  cursor: pointer;
}

.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #7d42e2;
  color: white;
}
